block footer
	footer.site-footer
		.footer-cat.cf
			.container
				h2.simple-title Наш каталог
				.footer-cat__row
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
		.footer__bottom
