block footer
	footer.site-footer
		.footer-cat.cf
			.container
				h2.simple-title Наш каталог
				.footer-cat__row
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
					.footer-cat__col
						p.title Аксессуары
						ul
							li
								a(href="#") Безопасный дом
							li
								a(href="#") Игрушки
							li
								a(href="#") Летний отдых
							li
								a(href="#") Горшки и накопители для подгузников
							li
								a(href="#") Надувные бассейны
							li
								a(href="#") Детская посуда
							li
								a(href="#") Элементы питания
							li
								a(href="#") Прорезыватели
							li
								a(href="#") Пустышки
							li
								a(href="#") Товары для ухода
		.footer__bottom
			.container.cf
				ul.footer__bottom-menu
					li
						a(href="#") Главная 
					li
						a(href="#") Как мы работаем
					li
						a(href="#") Условия оплаты и доставки
					li
						a(href="#") О Детополисе
					li
						a(href="#") Контакты
				.footer__bottom-socials
					span.title мы в соц. сетях
					.socials
						a(href="#" style="background-image: url(img/vk-ico.png)")
						a(href="#" style="background-image: url(img/inst-ico.png)")
						a(href="#" style="background-image: url(img/fb-ico.png)")
						a(href="#" style="background-image: url(img/gplus-ico.png)")
				.footer__bottom-info
					p.footer__bottom-hour Cлужба доставки: Пн-Вс с 9:00-18:00
					a.footer__bottom-tel(href="tel:8-800-222-1-541") 8-800-222-1-541

























