block header
	header.site-header
		.site-header__top
			.container
				ul.site-header__menu
					li.current-menu-item
						a(href="#") Главная
					li
						a(href="#") Как мы работаем 
					li
						a(href="#") Условия оплаты и доставки
					li
						a(href="#") О Детополисе
					li
						a(href="#") Контакты
					li.login
						a(href="#") Войти
		.site-header__row
			.container.cf
				.site-header__logo
					a(href="#")
						img(src="img/logo.png", alt="")
				a.site-header__cart(href="#")
					span.title Моя корзина
					span.count.description 17 шт.
					span.price.description 21 075 руб.
				.site-header__search
					.site-header__search--top
						span.work-hours Cлужба доставки: Пн-Вс с 9:00-18:00
						a.tel(href="tel:88002221541") 8-800-222-1-541
					.site-header__search--form
						form
							input.search__input(type="text")
							input.btn.btn--submit(type="submit" value="НАЙТИ")
		.site-header__nav--wrapper
			.container
				ul.site-header__nav
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu1.png", alt="")
								img.hover-ico(src="img/menu1-hover.png", alt="")
							span.title Подгузники, <br>трусики, пеленки 
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu2.png", alt="")
								img.hover-ico(src="img/menu2-hover.png", alt="")
							span.title Уход <br>и гигиена
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu3.png", alt="")
								img.hover-ico(src="img/menu3-hover.png", alt="")
							span.title Детское <br>питание
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu4.png", alt="")
								img.hover-ico(src="img/menu4-hover.png", alt="")
							span.title Одежда <br>и обувь
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu5.png", alt="")
								img.hover-ico(src="img/menu5-hover.png", alt="")
							span.title Бытовая <br>химия
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu6.png", alt="")
								img.hover-ico(src="img/menu6-hover.png", alt="")
							span.title Для мамочки

					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu7.png", alt="")
								img.hover-ico(src="img/menu7-hover.png", alt="")
							span.title Для будущей<br>мамочки
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu8.png", alt="")
								img.hover-ico(src="img/menu8-hover.png", alt="")
							span.title Игрушки
					li
						a(href="#")
							.ico-wrap
								img.main-ico(src="img/menu9.png", alt="")
								img.hover-ico(src="img/menu9-hover.png", alt="")
							span.title Аксессуары
		.site-header__pages--wrapper
			.container
				ul.site-header__pages
					li
						a.btn(href="#") % sale
					li
						a.btn(href="#") услуга 1
					li
						a.btn(href="#") услуга 2
					li
						a.btn(href="#") Новости
					li
						a.btn(href="#") маме на заметку


























