extends _layout
block vars
	- var bodyClass = 'home'
block content
	main.main-content
		section.banners__section
			.banners__left.banners__bg(style="background-image: url(img/banner-left.jpg)")
			.banners__right.banners__bg(style="background-image: url(img/banner-right.jpg)")
			.container
				.banners__inner
					.banners__slider
						a(href="#")
							img(src="img/b-img.png", alt="")
						a(href="#")
							img(src="img/b-img.png", alt="")
						a(href="#")
							img(src="img/b-img.png", alt="")
					.banners__static
						h4.static__header Подарочные сертификаты
						a.btn.with--arrow(href="#") Подробнее
		section.hits.slider__section
			.large-container
				h2.simple-title Хиты продаж
				.products__slider.hits__slider
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr2.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr3.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr4.jpg.png", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
		section.news.slider__section
			.large-container
				h2.simple-title Новости
				.products__slider.news__slider
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr2.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr3.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr4.jpg.png", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
		section.best-price.slider__section
			.large-container
				h2.simple-title Лучшая цена
				.products__slider.news__slider
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr2.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr3.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr4.jpg.png", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
					.slick-slide.hits__product
						.img-wrapper
							img(src="img/pr1.jpg", alt="")
						a.title(href="#") Подгузники Pampers Sleepnplay (4-9 кг), 100 шт
						.price__row.cf
							.price__col
								span.old-price 1220 руб.
								span.actual-price 990 руб.
							a.product-cart(href="#")
						.view-more__row.cf
							a.view-more(href="#") Подробнее
							.rating__col
		section.why-we.cf
			.container
				h2.simple-title Почему мы
				.why-we__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.why-we__list
					.why-we__item
						.img-wrapper
							img(src="img/why1.png", alt="")
						p.title Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
					.why-we__item
						.img-wrapper
							img(src="img/why2.png", alt="")
						p.title Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
					.why-we__item
						.img-wrapper
							img(src="img/why3.png", alt="")
						p.title Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
					.why-we__item
						.img-wrapper
							img(src="img/why4.png", alt="")
						p.title Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 






block inlineScripts